*{
    font-family: 'Raleway', sans-serif;
    background-color: #fffafa;
}

.fixed-top, .navbar-brand, .navbar-collapse, .nav-link, .navbar-expand-md, .aabc, .dropdown-toggle{
    background-color: #db6a6a;
    /* font-size: xx-large; */
}

.navbar-brand{
    font-size: xxx-large;
}

body, head, main{
    background-color: #fffafa;
}

.nav-link{
    font-size: 25px;
    font-weight: bold;
}

.nav-link:hover{
    font-size: x-large;
    transform: scale(1.2, 1.2);
    color: #ffffff;
    font-weight: bold;
}
tr{
    font-size: larger;
}

.xin{
    font-size: larger;
    display: inline-block;
    font-weight: bold;
}

.conbo{
    border: #1c4726 2px solid;
    border-radius: 10px;
    padding: 50px;
}

.container{
    /* border: #1c4726 2px solid;
    border-radius: 10px; */
    padding: 40px;
}

.w-100{
    background-color: #1c4726;
    color: #cdcbc6;
    transform:scale(1,1);
    transition: all 0.2s ease-out;
    
    
}

.w-100:hover{
    background-color: #419755;
    transform: scale(1.01, 1.01);
}

.nott{
    display: inline-block;
}

.fas{
    font-size: xxx-large;
    color: #1c4726;
}

a, .conp{
    color: #1c4726;
}

.pointmyvote:hover, .pointihavevoted:hover{
    color: #419755;
}

.chan{
    margin-top: 30px;
}

.heh{
    margin: auto;
    margin-left: 750px;
}

td:hover{
    background-color: rgba(255,255,255,0.2);
}

.yu{
    color: #1c4726;
}

.yu:hover{
    background-color: rgba(255,255,255,0.2);
    color: #419755;
}

.delout{
    font-size: xxx-large;
}

.container_1{
    padding-left: 40px;
    margin-left: 100px;
}

select {
    font-size: larger;
    font-weight: bold;
    margin: 15px;
    width: 300px;
    height: 3em;
    padding: 8px;
    position: relative;
    border-radius: 5px;
    border: 5px;
    border-style:inset;
}
option {
    font-size: large;
    font-weight: bold;
}
input {
    width: 215px;
}

.textcenter {
    text-align: center;
}

.imgdiv { 
    background-color: #e7e7e7;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    border: 10px;
    border-style:solid;
    border-color: #b8b8b8;
    width: 330px;
    height: 500px;
    margin: 20px;
    display: inline-block;
}

.img {
    border-radius: 10px;
    width: 260px;
    height: 260px;
}

.aaa1 {
    background-color: antiquewhite;
}
.aaa {
    background-color: rgb(255, 255, 255, 0);
}

.bottonstyle {
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: #3e9deb;
    color: #ffffff;
    font-size: larger;
    font-weight: bold;
    border: #3e9deb;
}